


body {
  font-family: Arial, sans-serif;
   background-color: #f0f0f0;
  padding: 20px;
}
h1 {
  color: #003366;
}
h2{
	color:blue;
}
h3 {
  color: #003456;
}
h4 {
  color: #003766;
}
p {
  color: pink;
}`
